<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="Protein_Bars.Admin.Admin1" %>

<!DOCTYPE html>
<html>

<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitlePlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
       
    </title>
<link href="~/css/style.css" rel="stylesheet" type="text/css">
    
</head>

<body>
<form runat="server">    

<div id="header">
    <h1>
        <asp:ContentPlaceHolder ID="Heading1PlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
       
    </h1>

</div>


  <ul>

       
        <li><a href="Admin.aspx">Admin</a></li>
        <li><a href="Add.aspx">Add</a></li>
        <asp:LoginStatus ID="LoginStatus1" runat="server" LoginText="Log Out" LogoutPageUrl="~/Register.aspx" OnLoggingOut="LoginStatus1_LoggingOut" />
        <asp:LoginName ID="LoginName1" runat="server" />
</ul> 
    <br />

<div id="content">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    

   
  

</div>
</form>

     
    
    
      
</body>

</html>

<br />

<footer style="background-color: #FFFFFF">
     <asp:hyperlink runat="server" NavigateUrl="~/Admin/Admin.aspx">Admin</asp:hyperlink>
    <p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>
</p>
            
    

    </footer>
